In [33]:
from IPython.display import HTML

HTML('''<style>.container {width:95% !important; } </style>
<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [71]:
import numpy as np
import pandas as pd
import datetime as dt
from scipy.stats import norm
from scipy import optimize

## Preview data

In [22]:
cash_df = pd.read_csv("../data/btc/cash/2021-01_btc_usd_index.csv", names= ['datetime','value'])
cash_df.loc[:,'datetime'] = pd.to_datetime(cash_df['datetime'])

In [23]:
cash_df.head()

             datetime     value
0 2021-01-01 00:00:00  28978.21
1 2021-01-01 00:01:00  29019.65
2 2021-01-01 00:02:00  29069.89
3 2021-01-01 00:03:00  29043.90
4 2021-01-01 00:04:00  29037.08

In [50]:
T1 = dt.datetime(2021,1,11,9,0,0)
T2 = dt.datetime(2021,1,13,9,0,0)

In [51]:
# cash_df[(cash_df['datetime']>= dt.datetime(2021,1,12)) & (cash_df['datetime']<= dt.datetime(2021,1,13))]
cash_df[cash_df['datetime']== T1]

                 datetime     value
14862 2021-01-11 09:00:00  35427.85

In [44]:
print (cash_df[(cash_df['datetime']>= dt.datetime(2021,1,12)) & (cash_df['datetime']<= dt.datetime(2021,1,13))])

                 datetime     value
15759 2021-01-12 00:00:00  35444.02
15760 2021-01-12 00:01:00  35471.52
15761 2021-01-12 00:02:00  35420.45
15762 2021-01-12 00:03:00  35405.45
15763 2021-01-12 00:04:00  35310.01
...                   ...       ...
15916 2021-01-12 02:37:00  34261.76
15917 2021-01-12 02:38:00  34190.90
15918 2021-01-12 02:39:00  34341.03
15919 2021-01-12 02:40:00  34326.57
15920 2021-01-12 02:41:00  34238.06

[162 rows x 2 columns]

In [54]:
option_df = pd.read_csv("../data/btc/options/BTC-14JAN21-29000-C.csv", names= ['datetime','low','high','open','close','volume','cost'])
option_df.loc[:,'datetime'] = pd.to_datetime(option_df['datetime'])

In [55]:
option_df.head()

             datetime     low    high    open   close  volume     cost
0 2021-01-12 17:52:00  0.1775  0.1775  0.1775  0.1775     0.1  0.01775
1 2021-01-12 17:53:00  0.1775  0.1775  0.1775  0.1775     0.0  0.00000
2 2021-01-12 17:54:00  0.1775  0.1775  0.1775  0.1775     0.0  0.00000
3 2021-01-12 17:55:00  0.1775  0.1775  0.1775  0.1775     0.0  0.00000
4 2021-01-12 17:56:00  0.1775  0.1775  0.1775  0.1775     0.0  0.00000

In [56]:
option_df[option_df['datetime'] == T2]

               datetime    low   high   open  close  volume  cost
908 2021-01-13 09:00:00  0.168  0.168  0.168  0.168     0.0   0.0

In [68]:
def NCDF(d):
    return norm.cdf(d)
def NPDF(d):
    return norm.pdf(d)

In [63]:
N(1.645), n(1.645)

(0.9500150944608786, 0.10311081109198142)

In [159]:
def NCDF(d):
    return norm.cdf(d)
def NPDF(d):
    return norm.pdf(d)

class IVCalculator:
    def __init__(self):
        self.sigmas = []
    def initSigma(self, S,K,tau,r,q, price):
        return np.nan
    def target(self,S,K,tau,r,q,sigma, price):
        return np.nan
    def veta(self,S,K,tau,r,q,sigma):
        return np.nan
    
    def calc(self,S,K,tau,r,q, price):
        sigma_0 = self.initSigma(S,K,tau,r,q, price)
        f = lambda sigma : self.target(S,K,tau,r,q,sigma, price)
        fp = lambda sigma : self.vega(S,K,tau,r,q,sigma)
        sigma = optimize.newton(f, sigma_0, fprime=fp)
        return sigma
    

class IVCalculatorBSCall(IVCalculator):
    def __init__(self):
        IVCalculator.__init__(self)

    def initSigma(self, S,K,tau,r,q, price):
        return price/S *np.sqrt(2*np.pi/tau)
    def d1(self, S,K,tau,r,q,sigma):
        return (np.log(S/K) + (r-q+np.power(sigma,2)/2)*tau)/(sigma*np.sqrt(tau))
    def d2(self, S,K,tau,r,q,sigma):
        return self.d1(S,K,tau,r,q,sigma) - sigma*np.sqrt(tau)
    def vega(self,S,K,tau,r,q,sigma):
        d1 = self.d1(S,K,tau,r,q,sigma)
        v = S*np.exp(-q*tau)*np.sqrt(tau)*NPDF(d1)
        return v
    def bsPrice(self,S,K,tau,r,q,sigma):
        d1 = self.d1(S,K,tau,r,q,sigma)
        d2 = self.d2(S,K,tau,r,q,sigma)
        price = S*np.exp(-q*tau)*NCDF(d1) - K*np.exp(-r*tau)*NCDF(d2)
        return price
    def target(self,S,K,tau,r,q,sigma, price):
        self.sigmas.append(sigma)
        bsPrice = self.bsPrice(S,K,tau,r,q,sigma)
        return bsPrice - price

In [151]:
# c = IVCalculatorBSCall()
# c.calc(S = 36233.09,K=35000,tau= ((dt.datetime(2021,1,18, 8, 0, 0) - dt.datetime(2021,1,17,22,56,0)).seconds / (24*3600) / 365.25), r = 0.001, q = 0.001, price = (.0405)*36233.09)

1.4892196149057384

In [165]:
c = IVCalculatorBSCall()
c.calc(S = 36233.09,K=35000,tau= ((dt.datetime(2021,1,18, 8, 0, 0) - dt.datetime(2021,1,17,22,56,0)).seconds / (24*3600) / 365.25), r = 0.001,q = 0.001, price = (.0405)*36233.09)

1.4893019160011989

In [166]:
c = IVCalculatorBSCall()
c.calc(S = 36233.09,K=35000,tau= ((dt.datetime(2021,1,18, 8, 0, 0) - dt.datetime(2021,1,17,22,56,0)).seconds / (24*3600) / 365.25), r = 0.001,q = 0.001, price = (.035)*36233.09)

0.7848886352714443